@page
@model TRGM_Site.Pages.DownloadsPageModel
@{
    Layout = "/Pages/_GeneralLayout.cshtml";
}


<!DOCTYPE HTML>

<html>
<body class="index is-preload">
    <div id="page-wrapper">
        <!-- Main -->
        <article id="main">
            <header class="special container">
                <span class="icon fa-newspaper"></span>
                <h2>Download links</h2>
            </header>
            <section class="wrapper style4 container">
                <div class="content">
                    <section>
                        You can download the latest pbo that was pushed to gitHub here: <br />
                        <a target="_blank" href="https://github.com/treendy/TRGM2.Malden/releases">https://github.com/treendy/TRGM2.Malden/releases</a>
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>
</html>
