@page
@model TRGM_Site.Pages.HowToHelpModel
@{
    Layout = "/Pages/_GeneralLayout.cshtml";

}


<html>
<body class="index is-preload">
    <div id="page-wrapper">
        <!-- Main -->
        <article id="main">
            <header class="special container">
                <span class="icon fa-hand-point-down"></span>
                <h2>Want to help out?</h2>
                <p>Things you can do to help TRGM2 progress</p>
            </header>

            @*content*@

            <section class="wrapper style4 container">
                <div class="content">
                    <section>
                        <a href="#" class="image featured"><img src="images/TRGM_Events.jpg" alt="" /></a>
                        <p>More details here soon, but for now follow us on YouTube, Twitter, Facebook.  Like and comment on our content, post videos of you playing TRGM2 and spread the word : )</p>

                        <p>
                            <h4>Follow Me</h4>
                            If you want to support my work, there are quite a few ways to do so... if you visit my <a target="_blank" href="https://steamcommunity.com/id/treendy76/myworkshopfiles/?appid=107410">steam workshop</a> page and follow me, or give a thumbs up and comment, it really means a lot... these thumbs up ratings, help move my work up the workshop pages.
                            Follow me on steam, or subscribe to my YouTube account, its nice to know my videos are being watched.
                        </p>
                        <p>
                            <h4>Donations</h4>
                            If you really want to, you can make a <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XHP3RVGNAZC86">donation here</a>. I would love to dedicate more time to the TRGM2 engine, making updates, fixes and adding new features, so I would love to take some time off work to spend full days on my engine. Give me your money : )
                        </p>
                        <p>
                            <h4>TRGM2 <strong>Discord</strong></h4>
                            Join our community, if you have any questions, or having problems, here is the place to comment : <a target="_blank" href="https://discord.gg/qYrjgJs">https://discord.gg/qYrjgJs</a>
                        </p>
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>
</html>

@*<span class="image featured"><img src="images/TRGM_Events.jpg" alt="" /></span>*@